<% include ../partials/header %> 

     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To SkiResort!</h1>
             <p>View our hand-picked resorts from all over the world</p>
             <p>
                <a class="btn btn-primary btn-large" href="/resorts/new">Add New Resort</a>
                <form action="/resorts" method="GET" class="form-inline">
                    <div class="form-group">
                        <input class="form-control" type="text" name="search" placeholder="Resort search..." >
                        <input type="submit" value="Search" class="btn btn-default">
                    </div>
                </form>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="col-md-12">
            <% if (noMatch !== undefined){%>
                <h3><%= noMatch%></h3>
            <%}%>
        </div>
        <% resorts.forEach(function(resort){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= resort.image %>">
                    <div class="caption">
                        <h4><%= resort.name %></h4>
                        <% if (resort.rating === 0) { %>
                        <em>No reviews yet.</em>
                        <% } else { %>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (resort.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (resort.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (resort.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (resort.rating > 4.5) { %> checked <% } %>"></span>
                        <% } %>
                    </div>
                    <p>
                        <a href="/resorts/<%= resort._id %>" class="btn btn-primary">More Info</a>
                    </p>
                 </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>
